/**
 * Created by nguy0092 on 10/8/2024.
 */

abbr.slds-required {
    font-weight: bold;
}

.advisor_info {
    font-size: 14px;
    font-weight: bold;
    color: rebeccapurple;
}

.default_info p {
    font-size: 14px;
}

.additional_info p {
    font-size: 14px;
    font-weight: bold;
}

.picklist_checkbox_options {
    display: inline-block;
    position: relative;
    float: left;
    border: solid 1px rebeccapurple;
}

.picklist_dropdown_label, .picklist_checkbox_legend, .textarea_label {
    font-size: 14px;
    font-weight: normal;
    color: rebeccapurple;
}

.textarea_sublabel {
    font-size: 14px;
    font-style: italic;
}

.slds-form-element .picklist_checkbox_text {
    font-size: 14px;
    text-transform: capitalize;
}

.picklist_checkbox_check {
    box-shadow: none;
}

.picklist_checkbox:checked+.slds-checkbox__label .picklist_checkbox_check,
.picklist_checkbox:checked+.slds-checkbox__label .picklist_checkbox_check::after {
    background-color: #672D85;
    border: none;
    content: none;
    box-shadow: none;
}