/**
 * Created by nguy0092 on 10/8/2024.
 */

.picklist-options {
    display: inline-block;
    position: relative;
    float: left;
    border: solid 1px rebeccapurple;
}

.picklist-legend, .textarea-label {
    font-size: 14px;
    font-weight: normal;
    color: rebeccapurple;
}

.textarea-sublabel {
    font-size: 14px;
    font-style: italic;
}

.slds-form-element .picklist-text {
    font-size: 14px;
    text-transform: capitalize;
}

.picklist-checkbox-check {
    box-shadow: none;
}

.picklist-checkbox:checked+.slds-checkbox__label .picklist-checkbox-check,
.picklist-checkbox:checked+.slds-checkbox__label .picklist-checkbox-check::after {
    background-color: #672D85;
    border: none;
    content: none;
    box-shadow: none;
}