/*!***/
/* * Created by nguy0092 on 7/18/2025.*/
/* *!*/
.custom-textarea-tall {
    --sds-c-textarea-sizing-min-height: 200px; /* Set your desired height */
}
.link-text-size p {
    font-size: .85rem !important;
    font-weight: 500 !important;
}
lightning-button.submit_button {
    --slds-c-button-success-text-color: white;
    --slds-c-button-success-color-background: #510c76;
    --slds-c-button-success-color-border: #510c76;
    font-size: 1rem !important;
    font-weight: bold;
}
.logo-size {
    width:125px;
    margin-left: 20px;
}
.regular-body-text p {
    font-size: 1rem;
}
.selection-labels {
    font-size: 1rem !important;
    font-weight: normal;
}
.selection-width {
    width: 40%;
}
.selection-width-wide {
    width: 65%;
}
.submit-error-message {
    color: #ba0517;
    --slds-c-icon-color-foreground-default: #ba0517;
    padding-left: 0 !important;
}
.submit-error-message p{
    margin-left: -5px !important;
}
.text-larger {
    font-size: 1.15rem !important;
    font-weight: bold;
    color: rebeccapurple !important;
}
.textblock-width-wide {
    width: 80%;
}
.textarea-sublabel-2 {
    font-size: .90rem !important;
    color: black;
    padding-bottom: 5px;
}
.validation-text {
    color: #ba0517;
    font-size: 0.75rem;
    margin-top: 0.125rem;
}