/**
 * Created by nguy0092 on 8/18/2025.
 */
.attached-file-list * {
    font-size: .75rem !important;
    color: black;
}
.custom-textarea {
    --sds-c-textarea-sizing-min-height: 150px; /* Set your desired height */
}
.custom-textarea-tall {
    --sds-c-textarea-sizing-min-height: 200px; /* Set your desired height */
}
.excluded-file-list p {
    font-size: .75rem !important;
    color: red;
}
lightning-button.submit_button {
    --slds-c-button-success-text-color: white;
    --slds-c-button-success-color-background: #510c76;
    --slds-c-button-success-color-border: #510c76;

    /*Has no effect in VisualForce template*/
    --slds-c-button-success-color-border-hover: #8348ad;
    --slds-c-button-success-color-background-hover: #8348ad;
    --slds-c-button-success-color-background-active: #8348ad;
    font-size: 1rem !important;
    /*font-weight: bold;*/
}
.regular-body-text p {
    font-size: 1rem;
}
.selection-width {
    width: 40%;
}
.selection-width-wide {
    width: 65%;
}
.selection-labels {
    font-size: 1rem !important;
    font-weight: normal;
}
.textarea-sublabel-1 {
    font-size: .75rem !important;
    color: black;
    padding-bottom: 5px;
}
.textarea-sublabel-2 {
    font-size: .90rem !important;
    color: black;
    padding-bottom: 5px;
}
.textblock-width {
    width: 65%;
}
.textblock-width-wide {
    width: 80%;
}
.validation-text {
    color: #ba0517;
    font-size: 0.75rem;
    margin-top: 0.125rem;
}