/**
 * Created by nguy0092 on 7/31/2025.
 */

/*.heading-text {*/
/*    font-size: 1.20rem !important;*/
/*    !*font-weight: bold;*!*/
/*    !*color: rebeccapurple !important;*!*/
/*}*/
/*.regular-body-text {*/
/*    height: 5000px;*/
/*    width: 60%;*/
/*    padding-left: 400px;*/
/*}*/
.validationText {
    color: #ba0517;
    font-size: 0.75rem;
    margin-top: 0.125rem;
}
.regular-body-text p {
    font-size: 1rem;
}
.textblock-width {
    width: 80%;
}
.selection-width {
    width: 40%;
}
.selection-width-wider {
    width: 65%;
}
/*.selection-width-datetime {*/
/*    width: 110% !important;*/
/*}*/
.check-box-text{
    color: black !important;
}
.attached-file-list * {
    font-size: .75rem !important;
    color: black;
}
.excluded-file-list p {
    font-size: .75rem !important;
    color: red;
}
.selection-labels {
    font-size: 1rem !important;
    font-weight: normal;
    /*color: rebeccapurple;*/
}
.textarea-sublabel_1 {
    font-size: .75rem !important;
    color: black;
    /*font-weight: lighter;*/
    padding-bottom: 7px;
}
.textarea-sublabel_2 {
    font-size: .85rem !important;
    color: black;
    /*font-weight: lighter;*/
    padding-bottom: 7px;
}
.textarea-sublabel_3 {
    font-size: .75rem !important;
    color: black;
    /*font-weight: lighter;*/
}
.custom-textarea {
    width: 65%;
    --sds-c-textarea-sizing-min-height: 200px; /* Set your desired height */
}
.section-heading {
    font-size: .9rem;
}
lightning-button.submit_button {
    --slds-c-button-success-text-color: white;
    --slds-c-button-success-color-background: #510c76;
    --slds-c-button-success-color-border: #510c76;

    /*Has no effect in VisualForce template*/
    --slds-c-button-success-color-border-hover: #8348ad;
    --slds-c-button-success-color-background-hover: #8348ad;
    --slds-c-button-success-color-background-active: #8348ad;
    font-size: 1rem !important;
    /*font-weight: bold;*/
}